*, ::after, ::before {
    box-sizing: border-box;
    justify-content: space-between;
    /* background-image: url("../img/pngkey.com-down-arrow-png-129223.png"); */

}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 0px;
    justify-content: left!important;
    content: "";
    background-image: url("../img/PngItem_5339992.png");
    /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e); */
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../img/PngItem_5339992.png");

}
.accordion-button:focus {
    z-index: 3;
    border-color: transparent!important;
    outline: 0;
    /* box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25); */
}



/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    /* cursor: pointer; */
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container .radioIN {
    position: absolute;
    opacity: 0;
    /* cursor: pointer; */
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  .checkmark:hover{
    cursor: pointer;
  }
  /* On mouse-over, add a grey background color */
  
  /* .container:hover input ~ .checkmark {
    background-color: #ccc;
  } */
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #ffd336;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  .form-control{
    display: inline;

  }

  .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0 1px 1px transparent, 0 0 8px transparent;
  }
  input, textarea{
    font-size: 20px !important;
    color: #616161;
  }


  @media (max-width: 768px){
    .h1, .h3, .h5{
       font-size: 16px;
    
    }
    .accordion-button{
      font-size: 19px!important;

    }
    
    }

    @media (max-width: 1217px){
    .col-lg-4 {
        
      flex: inherit;
        /* max-width: 100%; */
    }
    .col-lg-10 {
      flex: 0 0 50%;

    }
  
  
  }
/* //////////////////////////////contactus page ///////////////////////////// */
  .form-control{
    border-radius: 0px!important;
  }

  #sendB:hover{

    background-color:  #ffa20f!important;
 

}



/* /////////////////////////////// */

.swal-button {
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 24px;
  margin: 0;
  cursor: pointer;
  background-color: #73b325;
}


.swal-text {

  font-size: 20px;
  direction: ltr;
}



.swal-footer {
    text-align: center;}

    .swal-button--cancel {
     
      background-color: #ffd336!important;
  }

  .swal-title {
    color: #616161;
  }

  .swal-button--danger:not([disabled]):hover {
    background-color: #73b325;
  }



  .swal-button:not([disabled]):hover {
    background-color: #73b325;
}

body{
  direction: ltr!important;
}