.TcardsT{
    margin-bottom: 40px;
}
#tempsLi:hover{
   background-color:  #ffa20f!important;

}
.cbtnp, .cbtnn{
    background-color: gray;
    height: 25%;
    position: absolute;
    top: 35%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 8%;
}

.cbtnn{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;  
}

@media (max-width: 768px){
.colsma {
    
    width: max-content;
    font-size: 12px;
}
.h5sma{
    font-size: 16px!important;

}
}


@media (max-width: 320px){
.tbu{
     width: 110px!important;

}

}
.tbu:hover{
 
        background-color:  #ffa20f!important;
     
}
.active{
    background-color:  #ffa20f!important;
}
.h5Price{

    font-size:20px;text-align: center!important;
        padding: 10px!important;
    font-weight: bold;
    color: white;
    background-color: #73b325;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-radius: 15px 15px 0px 0px;
    margin-bottom:0px;
    direction: ltr;
}

.h5Order{
    font-size:20px;text-align: center!important;
        padding: 10px!important;
    font-weight: bold;
    color: white;
    background-color: #ffd336;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-radius: 15px 15px 0px 0px;
    margin-bottom:0px;  
}
body{
    direction: ltr!important;
}
.card-title{
    display: inline-block;
}

